
<h6>Comments</h6>

<div class="row">
  <div class="col-sm-6">
    <%= render partial: 'comments/index', locals: {listing: listing} %>
  </div>
  <div class="col-sm-6">
    <%= render partial: 'comments/new', locals: {listing: listing} %>
  </div>
</div>

