<nav class="breadcrumb">
  <%= link_to 'Listings', listings_path, class:'breadcrumb-item' %>
  <a class="breadcrumb-item active" href="#"><%= @listing.headline %></a>
  <% if can?(:edit, Listing) %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: 'breadcrumb-item' %>
  <% end %>
  
  
</nav>

<%= render partial: 'listing', locals: {listing: @listing} %>
<style>
  .breadcrumb-item {
    color: white ;
  }
</style>