<% if listing.comments.present? %>
  <% listing.comments.order(created_at: :desc).each do |comment| %>
    <div class="card">
      <div class="row">
        <div class="card-body col-sm-8">
          <p class="card-text" style="margin-left: 20px;"><%= comment.body %></p>
        </div>
        <div class="footnote col-sm-4">
          <span class="white"><%= comment.author %></span>
          <br>
          <%= time_ago_in_words(comment.created_at) %> ago
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h5>No Comments Yet.</h5>
<% end %>
