<%= form_with(model: tranzaction, local: true) do |form| %>
  <% if tranzaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tranzaction.errors.count, "error") %> prohibited this tranzaction from being saved:</h2>

      <ul>
      <% tranzaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
