<h1>Users#dashboard</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>



<%= form_with url: import_phones_data_phones_path, multipart: true do |f| %>
  <%= f.file_field :file, class: 'hide file-field' %>
  <%= f.label :file do %>
    <button class="btn btn-success">Upload CSV</button>
  <% end %>
<% end %>

<%= link_to 'Export Phones', export_phones_data_phones_path %>
<script type="text/javascript" charset="utf-8">
$(function () {
  $('.btn').on('click', function(){
    $('.file-field').click();
  })
  
})
</script>