:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
}


.hide {
    visibility: hidden;
}

* {
    color: whitesmoke;
}


.full-width {
    width: 100%;
}

.weaker {
    color: #aaaaaa;
}

.weak {
    color: #F7F7F7;
}

/*BACKGROUND*/
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

