:root {
    --blue: #5e72e4;
    --indigo: #5603ad;

}


.hide {
    visibility: hidden;
}

* {
    color: whitesmoke;
}


html, body {
    background: #355C7D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background: #7b4397;  !* fallback for old browsers *!*/
/*background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*background: linear-gradient(to right, #dc2430, #7b4397); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}



.full-width {
    width: 100%;
}
.weaker {
    color: #aaaaaa;
}

.weak {
    color: #F7F7F7;
}